*.backup
*.bak
*.bil
*.exe
*.hdr
*.lock
*.manifest
*.mod
*.obj
*.old
*.pdb
*.suo
*.u2d
*.user
*.vsidx
__pycache__
BuildLog.*
control_files
DEPRECATED
forecasts/runs
fuel
inputs
input_decks
misc
outputs
runs/forecasts/runs
runs/hindcasts/log
runs/potential/part*
runs/potential/timeseries*
runs/potential/zones
runs/risk/runs
runs/risk/template/config
scratch
validation/01-single-fire/ca-county_20180701_062200
verification/01-elliptical-shape/exact_ellipses
.vs
work
